<div class="board"
     (keydown)="onKeyDown($event)">
  @for (rowCells of boardSkeleton; track $index) {
    <div class="row">
      @for (cell of rowCells; track $index) {
        <div class="cell">
          @if (board()?.cells?.[cell.y]?.[cell.x]; as cellView) {
            <app-cell
              [cell]="cellView"
              (cellFocused)="onCellFocus($event)"
              (cellInput)="onCellInput($event)">
            </app-cell>
          }
        </div>
      }
    </div>
  }

  @for (selector of selectors(); track selector.author) {
    <div class="selector"
         [style.transform]="'translate(calc(' + selector.x +'*100%), calc(' + selector.y+'*100%))'"
         [style.border-color]="selector.color"
    ></div>
  }
</div>
@if (gameStatus() === 'loading') {
  <div class="loader-overlay">
    <mat-spinner></mat-spinner>
  </div>
}

